*{
    padding: 0;
    margin: 0;
} 

body{
    overflow: hidden;
}

#divSite{
    width: 100%;
    height: 67%;
    background: none;
    border: black solid 3px;
    position: absolute;
    top: 30%;
    left: 0;

}

#CSS{
    border: black solid 3px;
    position: absolute;
    left: 50%;
    width: 50%;
}

#HTML{
    border: black solid 3px;
    width: 50%;
}